.link_carrinho_vazio {
    color: saddlebrown;
}

.input_quantidade_itens {
    width: 40% !important;
}

.titulo_produto {
    color: grey !important;
}

.cabecalho_detalhes {
    background-color:  whitesmoke !important; 
    color: grey !important;
}

.titulo_informacoes_produto {
    color: grey !important;
}

.imagem_produto {
    width: 100%;
}

.container-caracteristicas {
    background-color: whitesmoke; 
    color: grey;
}

.nome_produto {
    color: grey;
}

.descricao_produto {
    color: dimgrey;
}

.nome_categoria {
    color: grey;
} 

.cabecalho_categorias {
    font-size: 0.8em;
}

.lista_categorias {
    font-size: 0.9em; 
    text-transform: uppercase;
}

.cabecalho_preco {
    font-size: 0.8em;
}

.valor_preco {
    font-size: 0.9em;
}

.link_categorias {
    color: grey;
}

.imagem_produto_zoom {
    height: 250px; 
    width: auto;
}